services:
  nestjs_api:
    build: 
      context: .
      dockerfile: Dockerfile 
    ports:
      - '3001:3000'
    environment:
      - PORT=3000
      - NODE_ENV=development
    volumes:
      - ./src:/usr/src/app/src
