.navbar-center .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-center .nav-links li {
  margin-right: 1rem;  
}

.navbar-center .nav-links a {
  color: #fff;
  text-decoration: none;
}

.navbar-center .nav-links a:hover {
  color: #fff;
  text-decoration: underline;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right .cart-icon, 
.navbar-right .user-icon {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
}

.navbar-right .cart-count {
  background-color: #f44336;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}

@media (max-width: 768px) {
  .navbar-center .nav-links {
    display: none;
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }

  .navbar-right .hamburger-menu {
    display: block;
    color: #fff;
    cursor: pointer;
  }
}